.App-logo {
  height: 60px;
  width: 60px;
}

nav{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 30px 25px;
  height: 60px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

nav.dark {
  background-color: #21222A;
}

nav > h2 {
  margin-right: auto;
  color: #61dafb;
}
nav > h3{
  margin-left: auto;
  padding-right:15px ;
  color: white;
  font-weight: lighter;
  font-size: 16px;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}

/* body , footer{
  background-color: #282d35;
  color: white;
} */



main{
    padding: 57px 27px;
    background-repeat: no-repeat;
    background-position: right center;
    flex: 1 1 auto;
    background-color: white;
    color: #2B283A;
    background-image:url('./graylogo.png') ;
 
}

main.dark {
  background-image: url("./graylogo.png"); 
  background-color: #282D35;
  color: white;    
}

.main-heading{
  font-size: 36px;
}

.fact-list{
  max-width: 600px;
}

.list-item{
  margin-top: 10px;
  font-size: 20px;
}

.list-item::marker{
  font-size: 1.5rem;
  color: #61dafb;
}

footer{
  left: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: black;
  padding: 30px 25px;
  height: 60px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

footer.dark {
  background-color: #282D35;
  color: white;    
}